li a {
    color: purple;
    text-decoration: none;
}

ol{
	background-color: white;
	text-decoration: none;
}

#body {
    background: white url("images/fondo.gif");
    font-size: 25px;
}

.titulo{
	font-size: 60px;
	padding-top: 5px;
	margin-left: 250px;
	margin-right: 250px;
	background-color: white;
	border-radius: 10px;
}

.tituloLogin{
	font-size: 60px;
	padding-top: 5px;
	margin-left: 250px;
	margin-right: 250px;
	background-color: #81DAF5;
	border-radius: 10px;
}

label{
	color: white;
}

.subtitulo{
	color: white;
	font-size: 40px;
}